* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#map {
    position: relative;
}

.box { 
    position: absolute;
    background-color: rgba(0, 0, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
}

.box-taken {
    background-color: rgba(255, 0, 0, 0.5);
}

.box-physical.box-taken {
    background-color: rgba(255, 136, 0, 0.5);
}

.popout {
    position: absolute;
    border: 2px solid black;
    background-color: white;
    z-index: 2;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 10px 20px;
    border-radius: 25px;
    box-sizing: border-box;
    cursor: default;
    width: 170px;
}

.popout-title {
    font-weight: bold;
}

button {
    display: inline-block;
    cursor: pointer;
}

.hidden, .hidden-for-page {
    display: none;
}

#text-section, #text-section input, #text-section button, .popout button, #chat button, #chat-message, #admin input, #admin button, #admin, #admin select, #admin option {
    font-size: 18px;
}

.toast {
    position: fixed;
    z-index: 1000;
    top: 10%;
    padding: 20px;
    background-color: white;
    color: #191919;
    border-radius: 25px;
    opacity: 0;
    transition: opacity 0.5s;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border: 2px solid black;
}

.toast-shown {
    opacity: 1;
}

#current-drawing-place::before {
    content: "Your Position: "
}

#current-drawing-on::before {
    content: "Current Position: "
}

#current-drawing-time-left::before {
    content: "Time Left: "
}

#current-drawing-time-left::after {
    content: "s"
}

#current-drawing-section.your-draw {
    color: red;
}

#current-drawing-your-turn {
    display: none;
}

#current-drawing-section.your-draw #current-drawing-your-turn {
    display: block;
    font-weight: bold;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

nav > ul > li {
    display: inline-block;
    margin-right: 20px;
}

#chat, #admin {
    margin-top: 10px;
}

#chat, #chat-messages, #chat-message {
    border: 2px solid black;
    padding: 20px;
    border-radius: 25px;
}

#chat-messages, #chat-message {
    width: calc( 100% - 44px );
    margin-bottom: 20px;
}

#chat-messages {
    height: 350px;
    overflow-y: scroll;
}

.message {
    padding: 15px;
}

.message-user, .message-content {
    display: inline;
}

.message-user {
    font-weight: bold;
}

.message-user::after {
    content: ": ";
}

.message-time {
    float: right;
    color: grey;
    font-size: 75%;
}

#submit-chat-wrapper {
    text-align: right;
}

#admin label {
    display: block;
}

#pass-count::before {
    content: "Priority passes: ";
}